html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.city{
  stroke-width:1;
  cursor:pointer;
  fill:#307ecc3c;
  stroke: #256eb83c;
  stroke-linejoin:round;
  stroke-linecap:round;
  
}
.city:hover{
  fill:rgb(198, 206, 236);
  stroke: rgb(172, 181, 214);

}
.tooltip{
  background-color:white;
  border:solid 1px rgb(172, 181, 214);
  border-width:1px;
  border-radius:5px;
  padding:10px;
  visibility: hidden;
}
.show{
  visibility: visible!important;
}
#destock-menu button{
  font-weight: bold;
}
#menu-appbar li p{
  font-weight: bold;
}
